* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #c89a3c;
    align-items: center;
    height: 6rem;
}

.encabezado {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.encabezado > p {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.encabezado > img {
    height: 3.5rem;
    filter: invert();
}

nav {
    display: flex;
    gap: 1.5rem;
}

button {
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

#content {
    display: flex;
    min-height: calc(100vh - 6rem);
    background-color: #c89a3c;
    align-items: center;
    justify-content: center;
}

.cuadro {
    display: flex;
    position: relative;
    justify-content: center;
}

.cuadro > img {
    height: 49rem;
    width: auto;
}

.texto {
    position: absolute;
    color: white;
    margin-top: 6%;
}

.texto > h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.texto > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.texto > p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.menutablero {
    width: 89rem;
    border: 1px solid black;
    background-color: white;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 2%;
    border-radius: 1rem;
}

.menutablero > h1 {
    font-size: 3rem;
    text-align: center;
}

.menutablero > h2 {
    font-size: 1.5rem;
    text-align: center;
}

.carta_entrada {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 1.5rem;
    margin-inline: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entradas {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    overflow: hidden;
    border-radius: 1rem;
}

.entradas > img {
    height: 16rem;
}

.entradas > p {
    font-size: 1.1rem;
    text-align: justify;
    margin-inline: 1rem;
}

.pedidosentrada {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    margin-top: auto;
    align-items: center;
}

.pedidosentrada > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.pedidosentrada > button {
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconopedir {
    height: 2.3rem;
    width: auto;
}

.cartas_fondos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 1.5rem;
    margin-inline: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fondos {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    overflow: hidden;
    border-radius: 1rem;
}

.fondos > img {
    height: 16rem;
}

.fondos > p {
    font-size: 1.1rem;
    text-align: justify;
    margin-inline: 1rem;
}

.pedidosfondo {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    margin-top: auto;
    align-items: center;
}

.pedidosfondo > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.pedidosfondo > button {
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta_postres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 1.5rem;
    margin-inline: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.postres {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    overflow: hidden;
    border-radius: 1rem;
}

.postres > img {
    height: 16rem;
}

.postres > p {
    font-size: 1.1rem;
    text-align: justify;
    margin-inline: 1rem;
}

.pedidosbebida {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    margin-top: auto;
    align-items: center;
}

.pedidosbebida > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.pedidosbebida > button {
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
